.Description {
    .in-desc {
        color: #666;
        line-height: 26px;
        font-size: 1rem;
        text-align: left;
        font-weight: normal;

        &.a-cntInfo_dark{
                color: #fff;
        }
    }
}