.selected-image-container{
    position: relative;
    width: 150px;
    height: 150px;

    .cnt-img{
        width: 100%;
        height: 100%;
        border-radius: 50%;

        .selected-image{
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 50%;
        }
    }

    .change-image-button{
        width: 30px;
        height: 30px;
        position: absolute;
        border: none;
        outline: none;
        top: 0;
        right: 10px;
        border-radius: 50%;
        background-color: #fff;
        color: #fff;
        cursor: pointer;
    }
}



.cnt_file-chosse{
    position: relative;
    width: 150px;
        height: 150px;
    
    .file-input_img{
        display: none;
    }

    .div_showImage{
        width: 100%;
        height: 100%;
        background: #fff;
        background-image: url(./uploaderIcon/user.svg);
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 50%;
        box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.5);
    }

    .file-input-label{
        width: 30px;
        height: 30px;
        position: absolute;
        top: 5px;
        right: 10px;
        border-radius: 50%;
        background-color: #fff;
        box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.5);
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        &:hover{
            background: rgba(32, 142, 232, 0.5);
        }
    }
}
