.Header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background: #13192680;
    backdrop-filter: blur(4px);
    border-bottom: 0.9px solid rgba(255, 255, 255, 0.7);
    position: sticky;
    top: 0;
    z-index: 999;

    .cnt_logo{
        display: flex;
        flex-direction: column;
        gap: 5px;
        user-select: none;
        cursor: pointer;

        .label_com{
            color: var(--white);
            font-size: 10px;
            text-align: center;
        }
    }

    .cnt_options{

        .cnt_nav{
            display: flex;
            gap: 40px;

            .link{
                font-size: 1rem;
                color: var(--white);
                transition: all 0.5s;

                &:hover{
                    color: var(--c500);
                }
            }
        }
    }
}